*{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.fullpage{
  background-color: rgba(0, 0, 0, 0.693);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  height: max-content;
  width: max-content;
  background-color: lightblue;
  border-radius: 10px;
  border: 1px solid white;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
.from {
  height: 100px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  margin: 20px 20px 5px;
}
.to {
  height: 100px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  margin: 5px 20px 20px;
}
.swap{
  height: 25px;
  width: 50px;
  /* padding-bottom: ; */
  background-color: blue;
  color: white;
  border-radius: 5px;
  text-align: center;
  /* /* margin-left: 45%; */
  margin-top: -40px;
  margin-bottom: -40px; 
}
.swap2{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head{
  justify-content: space-between;
  display: flex;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
#from{
  height: max-content;
  width: max-content;
}
#fromtype{
  height: max-content;
  width: max-content;
}